p {
  text-align: justify;
  width: 400px;
  margin: 0 auto;

  &::first-letter {
    color: red;
    font-size: 50px;
    float: left;
    line-height: 49px;
    padding-right: 10px;
  }

  &::first-line {
    font-weight: bold;
  }

  &::selection {
    color: black;
    background-color: yellow;
  }
}

p + p {
  margin-top: 1000px;
}
